body {
  font-family: "Poppins", sans-serif;
}

section {
  background-color: white;
}

.hero {
  background-color: #483d8b;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: #483d8b;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}
.button {
  width: 250px;
  height: 60px;
  border-radius: 40px;
  background-color: coral;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: rebeccapurple;
}

.button:active {
  background-color: greenyellow;
  color: goldenrod;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
}

.social {
  margin: 10px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(126, 124, 124);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  width: 250px;
  border-radius: 125px;
  margin-top: 25px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: coral;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #3c3664;
    margin: 0px;
  }

  nav {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .logo {
    display: none;
  }
}
